span {
  display: block;
  text-align: center;
}
.card {
  margin: 10px;
  border: 2px dotted;
  font-size: 1.5em;
}
.post {
  border: 2px solid;
}

/* A container context based on inline size */
.post {
  container-type: inline-size;
}

/* Apply styles if the container is narrower than 650px */
@container (width < 650px) {
  .card {
    width: 50%;
    background-color: gray;
    font-size: 1em;

    .draggable {
    position: absolute;
    padding: 5px; /* Add padding */
    border: px solid black; /* Add border */
    cursor: url('finger.png'), auto; /* Set cursor to custom image */
  }
}